*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: aqua;
}

.calculator{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 140px repeat(6, 80px);
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
}

.output .current-result {
  color: rgba(255, 255, 255, .75);
  font-size: 1.3rem;
  white-space: nowrap;

}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 5.2px;
  white-space: nowrap;
}

.print {
  grid-column: span 2;
  font-size: 1.5rem;
}